<div class="pt-3">
  <h4>Here you can search for country data using a country code</h4>
  <h5>Every code has exactly 3 letters</h5>
  <br>
  <div class="input-group mb-3">
    <span class="input-group-text">https://example.com/api/country/</span>
    <input type="text" id="basic-url" aria-describedby="basic-addon3" class="form-control" [(ngModel)]="queryString">
    <span class="input-group-text" (click)="searchCountryResults()">try me!</span>
  </div>

  <p>
    <button
      type="button"
      class="btn btn-outline ms-2"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      Results
    </button>
  </p>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <p class="small">Tip: You can collapse this card by clicking on the Results text</p>
        <textarea aria-label="With textarea" class="form-control disabled" spellcheck="false" style="height: 172px;"  [(ngModel)]="searchResult"></textarea>
      </div>
    </div>
  </div>
</div>
